.flogo{
    width: 50%;  
    height: 20%; 
    margin-bottom: 1rem;
}
.bgy{
    width: 100%;
    background-color: #ffffff !important;
    /* background-color:var(--primary-color) !important; */
    /* color: white; */
    color: var(--text-color);
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer{
    padding-top: 10px;
    height: max-content;
    position: relative;
    bottom: 0;
}
.footer_link_title{
    color: var(--text-color);
    /* color:white; */
    /* color: rgba(8,29,62,255); */
    margin-bottom: 1rem;
}
.footer_quick_links li{
    background:none;
}
.footer_quick_links li a{
    /* color: #f39c10; */
    color: var(--text-color);
    text-decoration: none;
}
.white{
    color: var(--text-color);
    /* color: white; */
    text-decoration: none;
}
.sociallink{
    text-decoration: none;
}
.social .sociallink {
    color: var(--yellow-color);
    /* This style ensures the color and transition are applied to the icons */
    transition: color 0.3s ease;
  }
  
  .social .sociallink:hover .footericon {
    /* When hovering over the social link, apply the transform to the icon */
    transform: scale(1.5); /* Adjust the scale factor as needed */
  }